.image-container {
  position: relative;
  width: 100%; 
  height: auto; 
  font-family: sans-serif;
  overflow: hidden;
  max-height: 655px;
}

.image-container img {
  position: relative;
  top: -105px;
  width: 100%;
  display: block;
  max-width: 1920px;
  z-index: 0;
}


.banner {
  position: absolute;
  top: 107px;
  left: 867px;
  width: 11.5%;
  max-width: auto;
  margin: -20px;
  z-index: 1;
}

.signin-button {
  position: absolute;
  width: 59px;
  height: 20px;
  left: 855px;
  bottom: 137px;
  background-color: #d91400ff;
  color: white;
  font-family: 'TTNorms', system-ui, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
  border-radius: 9999px;
  padding: 10px 12px 10px 12px;
  text-decoration: none;
  text-align: center;
  justify-content:start;
}

.signin-button:hover {
  cursor: pointer;
}

.signup-button {
  position: absolute;
  width: 67px;
  height: 20px;
  left: 945px;
  bottom: 137px;
  background-color: white;
  color: #606060ff;
  font-family: 'TTNorms', system-ui, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
  border-radius: 9999px;
  padding: 10px 12px 10px 12px;
  text-decoration: none;
  text-align: center;
}

.signup-button:hover {
  cursor: pointer;
}

.overlay-text {
  position: absolute;
  top: 32.55%;
  left: 49.55%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'TTNorms', system-ui, sans-serif;
  font-size: 42px;
  font-weight: 800;
  letter-spacing: -1px;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  z-index: 1;
}

 .address-box {
  display: flex;
  position: absolute;
  align-items: center;
  background-color: white;
  top: 52%;
  left: 39%;
  border-radius: 30px;
  height: 56px;
  width: 408px;
  z-index: 1;
}

.textbox {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.textbox input[type="text"] { 
  /* padding: 16px 95px 16px 0px; */
  border: 1px black solid;
  line-height: 23px;
  width: 50%;
  font-size: 15px;
  font-weight: 500;
  font-family: 'TTNorms', system-ui, sans-serif;
}

.textbox input::placeholder {
  font-size: 15px;
  font-weight: 500;
  font-family: 'TTNorms', system-ui, sans-serif;
}

.geo-alt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textbook i {
  position: relative;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
  color: #999;
  font-size: 20px;
}