body {
  margin: 0;
}

.image-container {
  position: relative;
  width: 100%; 
  height: auto; 
  font-family: sans-serif;
}

.image-container img {
  position: relative;
  top: -105px;
  width: 100%;
  display: block;
  max-width: 1920px;
  overflow-y: clip;
}


.logo {
  position: absolute;
  top: 107px;
  left: 867px;
  width: 11.5%;
  max-width: auto;
  margin: -20px;
}

.overlay-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'TTNorms', system-ui, sans-serif;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: -0.02em;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}